autostart
cef_user_data
dconf
discordd
enchant
evolution
gedit
goa-1.0
gtk-2.0
gtk-3.0
gtk-4.0
i3
ibus
kitty
menus
mimeapps.list
monitors.xml
monitors.xml~
pop-shell
pop-system-updater
pulse
spotify
touchegg
user-dirs.dirs
user-dirs.locale
discord
Code
GIMP
JetBrains
.gitignore
.gsd-keyboard.settings-ported
gnome-initial-setup-done
